


/*Globalt utseende*/

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    margin:5rem;
    
}

*{
    box-sizing: border-box;
}




ul{
    list-style: none;
}






header {
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    margin-bottom:2.5rem;
    
    
    form{
        padding-top:0.87rem ;
        input{
            border-radius: 1rem;
            height: 1.6rem;
        }

    }
    
    


    nav{
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        justify-content: space-between;
        
        i:hover{
            transform:scale(1.5);
            transition: 0.8s ease-in;
        }


        label{
           
           
            i{
                position: absolute;
                margin-left: 10.8rem;  
                margin-top: 0.29rem; 
            }
        }


        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            
            

            a:hover{
                text-decoration: underline;
            }

            li{
                a{
                color: black;
                text-decoration: none;
                
                }
            }
        }
    }
    
}


/* Stor skjerm */
@media only schreen and (min-width:1920px){
    
}

/*Vanlig desktop*/
@media only schreen and (min-width:800px){
    
}

/*Mobil*/
@media only schreen and (max-width:800px){
    main{
        display: flex;
        flex-wrap:wrap ;
    }
    




}






#banner{
    position: relative;
    max-width: 100%;
    min-width: 100%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
    
    
}










#banner .scroll-container{
    display: flex;
    gap:1rem;
    overflow: scroll;
    border-radius: 1rem;
    

}

#banner .scroll-container article {
    min-width: 100%;
    min-height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2021/09/15/06/29/pot-marigold-6625895_960_720.jpg");
    border-radius: 1rem;

    p,h2{


        display:flex;
        flex-wrap: wrap;
    }
    
}




#produkter{
    
    
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    header{
        margin: 0px;
        min-width: 100%;
        h2,p{
            width: 100%;
            text-align: center; 
        }
            
        ul{
            padding-left:0;
            min-width: 100%;
            display: flex;
            
            justify-content: center;
          

            li{
                width: 30%; 
                padding: 1rem;
                margin: 1rem;
                text-align: center;

                
                border-radius: 2rem;
                border:0.1px solid black;
                
                border-color: black;
            }
        
            }       
}





    .product-card {
        max-width: 30%;
        padding: 0px;
        img{
            border-radius: 1rem;
            max-width: 100%;
        }
        
        .product-info{
            ul{
                padding:0px;
                display: flex;
                flex-wrap: wrap;
                gap:1rem;
                
                ul{
                    padding:  0px;
                }

                li{
                    align-content: center;
                    padding: 0px;
                    font-size: x-small;
                    h3{
                        font-size: x-small;
                    }

                    i{
                        font-size: small;
                    }
                }
            }
        }
    }




}

#kategorier{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr,1fr;
    

    article {
        border-radius: 1rem;
        background-size: cover;
        margin:0.3rem;

        h3{
            color: white;
        }

        


    }

    h2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row:1/2 ;
        text-align: center;
    }

    p{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row:2/3 ;
        text-align: center;
    }

    #category1{
        grid-column-start: 1;
        grid-column-end:2 ;
        grid-row: 3/4;
        height:11.7rem;
        background-image: url("https://cdn.pixabay.com/photo/2023/07/08/07/24/ai-generated-8113881_1280.jpg");
        align-content: center;
        text-align:center;
    }
    #category2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row:3/4;
        align-content: center;
        text-align:center;
        background-image: url("https://cdn.pixabay.com/photo/2012/03/02/12/43/clockwork-21254_1280.jpg");
    }

    #category3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row:3/5;
        background-image: url("https://cdn.pixabay.com/photo/2024/05/19/08/39/work-8772016_1280.jpg");
        align-content: center;
        text-align:center;
    }

    #category4{
        grid-column: 1/3;
        grid-row:4/6;
        height: 20rem;
        align-content: center;
        text-align:center;
        background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg");
    }

    #category5{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row:5/6;
        height: 11.7rem;
        align-content: center;
        text-align:center;
        background-image: url("https://cdn.pixabay.com/photo/2014/09/07/22/15/industry-438428_1280.jpg");
    }

}







footer{
    display: flex;
    flex-wrap:wrap;
    
    
   
    
    section{
        width: 30%;
        
        
    }

     #logo {
        width: 100%;
        p{
            text-decoration: solid;
        }
        
    }


    #some{
        
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            
        }
    } 
    
   
    ul{
       
        

        li{
            
            a{
            color: black;
            text-decoration: none;
            }
        }

}
}