


/*Globalt utseende*/

body{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0.8rem;
   
   
    
}

*{
    box-sizing: border-box;
    padding:0px;
}

.list-flex{
    display: flex;
    flex-wrap: wrap;
}


ul{
    list-style: none;
}


#produkt-side{
    margin:0.2rem;
    nav{
        
        
        ul{
            display: flex;
            flex-wrap: wrap;
            gap:0.8rem;
            li{
                a{
                    font-style: none;
                    color: black;
                    text-decoration: none;
                }
                
            }
        }
    }
    #produkt-oversikt{
        
       
    }
    
    #produkt-bilder{
        

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr,1fr;
        max-width:100;

        #img1{
            grid-column:1/2;
            grid-row: 1/2;
            width:6rem;
            height:7rem;
            margin-left:0.8rem
            
            
        }
        
        #img2{
            grid-column:1/2;
            grid-row: 2/3; 
            width:6rem;
            height:7rem;
            margin-left:2%;
            margin-top:0.725rem;
            
            
         }
         #img3{
            grid-column:1/2;
            grid-row: 3/4;
            width:67px;
            width:6rem;
            height:7rem;
            margin-left:0.8rem;
            margin-botom:0rem;
             margin-top:0.725rem;
            
         }
         #img4{
            grid-column:2/4;
            grid-row: 1/4; 
            max-width:14.75rem;
            height:22.5rem;  
         }

    }
    
    
}






header {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    
  
    nav{
        
        min-width: 100%;

        
        
        

       #nav-icons{
            display: flex;
            justify-content: center;
       }

        form{
            display: flex;
            width:100%;
            justify-content: center;
            
            
            padding-top:0.87rem ;
            input{
                border-radius: 1rem;
                height: 2rem;
                width: 15rem;
            }
    

            
            
            
        }



        label{
            i{
                position: rleative;
                top: 7.18rem;
                left: 19rem;
            }
        }


        ul{
            text-align : center;
            gap: 1rem;
            padding: 0px;
            line-height: 2rem;
           
            

            li{

                a{
                color: black;
                text-decoration: none;
                
                i{
                    font-size: large;
                }
    
                
                }
            }
        }
    }
    
}








#banner{
    position: relative;
    max-width: 100%;
    min-width: 100%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
    
    
}










#banner .scroll-container{
    display: flex;
    gap:1rem;
    overflow: scroll;
    border-radius: 1rem;
    

}

#banner .scroll-container article {
    min-width: 100%;
    min-height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2019/11/12/15/47/leaves-4621334_1280.jpg");
    border-radius: 1rem;
    padding:0.5rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:right;
    
    p,h2{
    
        text-align:right;
        
        display:flex;
        flex-wrap: wrap;
    }

    p{
        
        
    }
    a{
        position:relative;
        border-radius: 2rem;
    
        padding: 0.7rem;
        color: black;
        background-color: white;
        text-decoration: none;
    }
    
}




#produkter{
    
    
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    
    header{
        padding:0.6rem;
        margin: 0px;
        min-width: 100%;
        padding-bottom: 2.5rem;
        h2,p{
            width: 100%;
            text-align: center;
            
        }
        h2{
            font-size:xx-large;
            
        }
            
        ul{
            padding-left:0;
            min-width: 100%;
            display: flex;
            gap: 0.6rem;
            justify-content: center;
          

            li{
                
                width: 30%; 
                
                padding-top: 1rem;
                padding-bottom:1rem;
                text-align: center;

                font-size: small;
                border-radius: 2rem;
                border:0.1px solid black;
                
                
            }

            li:hover{
                color: white;
                background-color: gray;
            }

            #new-product{
                color: white;
                background-color: rgb(46, 46, 46);
            }
        
            }       
}





    .product-card {
        max-width: 100%;
        padding: 0px;
      
        
            a{
                i:hover{
                    background-color:#d35e5e;
                }
          
                i{
                   color: white;
                    position: absolute;
                    right:1.3rem;
                    margin-top:0.6rem;
                    font-size: 1.5rem;
                    border-radius: 20rem;
                    padding: 0.5rem;
                    border:0.1px;
                    background-color:rgb(229 229 229 / 50%);

                    
                }
    
               
    
    
           }
       
        

        img{
            border-radius: 1rem;
            max-width: 100%;
        }
        
        .product-info{
            gap:55%;
           
            }
        ul{
            padding:0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap:0.2rem;
            
            li{
                align-content: center;
                padding: 0px;
                font-size: small;
                h3{
                    font-size: large;
                }

                i{
                    font-size: large;
                }
            }
        }
        }
    }




#kategorier{
    
    header{
            padding:1rem;
           h2{
        font-size:xx-large;
            }
        }
     
    
        article {
            border-radius: 1rem;
            background-size: cover;
            margin-bottom:0.8rem;
            max-width: 100%;
            h3{
                color: white;
            }
    
            
    
    
        }
    
        h2{
            
            text-align: center;
        }
    
        p{
           
            text-align: center;
        }
    
        #category1{
            
            height:  15.7rem;
            background-image: url("https://cdn.pixabay.com/photo/2023/07/08/07/24/ai-generated-8113881_1280.jpg");
            align-content: center;
            text-align:center;
        }
        #category2{
            height: 22rem;
            align-content: center;
            text-align:center;
            background-image: url("https://cdn.pixabay.com/photo/2012/03/02/12/43/clockwork-21254_1280.jpg");
        }
    
        #category3{
            height: 27.4rem;
            background-image: url("https://cdn.pixabay.com/photo/2024/05/19/08/39/work-8772016_1280.jpg");
            align-content: center;
            text-align:center;
        }
    
        #category4{
            height:  15.7rem;
            align-content: center;
            text-align:center;
            background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg");
        }
    
        #category5{
            height: 15.7rem;
            align-content: center;
            text-align:center;
            background-image: url("https://cdn.pixabay.com/photo/2014/09/07/22/15/industry-438428_1280.jpg");
        }
    
    }







.bold{
    font-weight:  bold;
}









#reviews{
    article{
        border:0.1px, solid, rgb(0 0 0 / 50%);
        border-radius:1rem;
        width:100%;
        padding:0.5rem;
        min-width:70%;
        height:500px;
    }
    
    ul{
        display:flex;
        gap:0.5rem;
    }
    img{
        border-radius:5rem;
        height:5rem;
        }

    .scroll-container{
        display: flex;
        overflow: scroll;
        gap:0.7rem;
        
       

    }

}










footer{
    display: flex;
    flex-wrap:wrap;
    gap:1.9rem;
    
    h3{font-weight:normal;}
    
    #tilgang{
        ul{
            padding:0px;
            display: flex;
            flex-wrap: wrap;
            gap:0.5rem;
            min-width:70%;
            margin:0.5rem;
            font-size:smaller;
        
        }
       
    }
    
    
        .logo {
        width: 100%;
        p{
            width: 100%;
            text-decoration: solid;
         }
    
        }
    #snarveier{
        li{
            padding:0.3rem;
            font-size:smaller;
        }
    }

    #some{
        
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            
        }
     } 
    
   
    ul{
        li{
            
            a{
            color: black;
            text-decoration: none;
            }
        }
    }
}




@media only screen and (min-width:500px){




@media only screen and (min-width:1000px){
    body{
        margin-right:10rem;
        margin-left:10rem;
    }
    header {
        
        form{ 
            max-width:fit-content;
            justify-content: left;
            margin-bottom:3rem;
            margin-top:1rem;
        }

         #magnifying-glass{
                position:absolute;
                left:14rem;
            }
        nav{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            #cart:hover{
                transform:scale(1.5);
                transition: 0.8s ease-in;
            }
           
        
            ul{
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                
                a:hover{
                    text-decoration: underline;
                }
            }
            }
        }
    

        #produkter{
            
            display: flex;
            flex-wrap: wrap;
            
            
            header{
                margin: 0px;
                min-width: 100%;
                padding-bottom: 2.5rem;
                h2,p{
                    width: 100%;
                    text-align: center; 
                }
                    
                ul{
                    padding-left:0;
                    min-width: 100%;
                    display: flex;
                    gap: 0.6rem;
                    justify-content: center;
                  
        
                    li{
                        
                        width: 30%; 
                        
                        padding-top: 1rem;
                        padding-bottom:1rem;
                        text-align: center;
        
                        font-size: small;
                        border-radius: 2rem;
                        border:0.1px solid black;
                        
                        
                    }
        
                    li:hover{
                        color: white;
                        background-color: gray;
                    }
        
                    #new-product{
                        color: white;
                        background-color: rgb(46, 46, 46);
                    }
                
                    }       
        }
        
        
        
        
        
        .product-card {
            max-width: 32%;
            padding: 0px;
            
           
            a{
                position:relative;
                display:inline-block;
        
                i{
                    color: white;
                    position: absolute;
                    right:1.3rem;
                    
                    font-size: 1.5rem;
                    border-radius: 20rem;
                    padding: 0.5rem;
                    border:0.1px;
                    background-color:rgb(229 229 229 / 50%);

                    
                }
        
                    
        
        
                }
                                                
            
            
    
            img{
                border-radius: 1rem;
                max-width: 100%;
            }
            
            .product-info{
                .name-price{
                    padding-bottom: 1rem;
                    
                    #price{
                        position:relative
                    }
                    }
                }
                ul{
                    padding:0px;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    gap:0.2rem;
                    
                    ul{
                        padding:  0px;
                        
                    }
                    
                    li{
                        align-content: center;
                        padding: 0px;
                        font-size: small;
                        h3{
                            font-size: large;
                        }
    
                        i{
                            font-size: large;
                        }
                    }
                }
            }
        }



    #kategorier{
        display: grid;
        grid-template-columns: 1fr,1fr,1fr;
        grid-template-rows: 1fr,1fr,1fr,1fr,1fr;
        padding:1rem;
        gap:1rem;
        
        header{
            display:block;
            width:100%;
            h2,p{
                text-align:center;
            }
           
        }
        article {
            border-radius: 1rem;
            background-size: cover;
            
    
            h3{
                color: white;
            }
    
            
    
    
        }
    
        h2{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row:1/2 ;
            text-align: center;
        }
    
        p{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row:2/3 ;
            text-align: center;
        }
    
        #category1{
            grid-column-start: 1;
            grid-column-end:2 ;
            grid-row: 3/4;
            height:98% ;
            
            background-image: url("https://cdn.pixabay.com/photo/2023/07/08/07/24/ai-generated-8113881_1280.jpg");
            align-content: center;
            text-align:center;
        }
        #category2{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row:3/4;
            align-content: center;
            text-align:center;
            background-image: url("https://cdn.pixabay.com/photo/2012/03/02/12/43/clockwork-21254_1280.jpg");
        }
    
        #category3{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row:3/5;
            background-image: url("https://cdn.pixabay.com/photo/2024/05/19/08/39/work-8772016_1280.jpg");
            align-content: center;
            text-align:center;
            height:35rem;
        }
    
        #category4{
            grid-column: 1/3;
            grid-row:4/6;
            height: 100%;
            align-content: center;
            text-align:center;
            background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg");
        }
    
        #category5{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row:5/6;
            height: 25rem;
            align-content: center;
            text-align:center;
            background-image: url("https://cdn.pixabay.com/photo/2014/09/07/22/15/industry-438428_1280.jpg");
        }
    
    
    }
    footer{
        justify-content:space-between;
        margin-left:1rem;
        margin-right:1rem;
    }
}